.pokePage {
  padding: 14em 10em 0 10em;
}

.pageOutlet {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 3em;
}

.list {
  width: 100%;
  max-width: 20vw;
  padding: 1em 0 2em 0;
}

.description > h4 {
  text-align: justify;
}

.element {
  background-color: var(--grey);
  width: 12em;
  font-size: 1.3em;
  text-decoration: none;
  color: var(--blue-dark);
  padding: 0.5em 0 0.5em 2em;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6em;
  border-radius: 1em;
  text-transform: capitalize;
}

.element:hover {
  background-color: var(--blue-light);
  color: white;
}

.element:focus {
  background-color: var(--yellow-main);
  color: white;
  font-weight: bold;
}

/* Media query for responsiveness */
@media screen and (max-width: 65em) {
  .pageOutlet {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    align-items: center;
    /* display: block; */
  }
}

/* Nested CSS Grid for each item */
.item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
}

/* Media query to adjust nested layout */
@media screen and (max-width: 65em) {
  .item {
    display: grid;
    grid-template-columns: 1fr; /* Use single column layout for small screens */
    gap: 2em;
  }
}
