.pokeList {
  font-size: 1.4em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
  padding-bottom: 1em;
  text-transform: capitalize;
  background-color: var(--grey);
  border-radius: 0.5em;
}

.pokeList li {
  color: var(--blue-dark);
  position: relative;
  left: 1em;
  top: 0.5em;
}

.pokeList li:hover {
  color: var(--yellow-main);
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown button {
  width: fit-content;
  background-color: transparent;
}
.dropdown span {
  font-size: 1.8em;
}
.dropdown span:hover {
  color: var(--yellow-main);
}

.detailsList {
  min-height: 12em;
}