.itemCard {
  max-width: 21rem;
  background-color: var(--grey);
  padding: 0 1.5rem 1rem 1.5rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
  transition: transform 0.3 ease;
  border: 5px solid var(--yellow-main);
  text-align: justify;
  min-height: fit-content;
  background-color: var(--blue-medium);
  color: var(--grey);
}

.imageContainer {
  background-color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 10rem;
  height: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 4rem;
  color: var(--blue-dark);
}
.imageContainer img {
  width: 3rem;
  height: auto;
}

.itemCard:hover {
  transform: translateY(-1rem);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}
.titleDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nonCapi {
  text-transform: none;
}

.attributeContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.attributeContainer p {
  font-size: 0.8rem;
  background-color: var(--grey);
  color: var(--blue-dark);
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: -0.8rem;
}

.index {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  background-color: var(--yellow-main);
  border-radius: 1rem;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
}
.grid p {
  font-weight: bold;
  font-size: 0.8rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown button {
  width: fit-content;
  background-color: transparent;
}
.dropdown p {
  font-weight: bold;
}

.dropdown span {
  color: var(--yellow-main);
}

.dropdown span:hover {
  color: var(--blue-light);
}
.arrow {
  font-size: 1.5rem;
}

.active {
  transform: rotate(180deg);
  font-size: 1.5rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
}
