.about {
  width: 100%;
  overflow-x: hidden;
}
.content {
  padding: 6rem 4rem 0 4rem;
}

.title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
  gap: 1rem;
}

.title img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 1em;
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2);
}
.title h4 {
  color: var(--blue-medium);
  padding-right: 10rem;
  line-height: 2.5rem;
}

.quote,
.seasons {
  background-color: var(--yellow-main);
  color: var(--grey);
  margin-left: -4rem;
  width: 110%;
}

.quote h3 {
  width: 50%;
  padding-right: 10rem;
  text-align: center;
  padding: 1rem 0;
  padding-left: 25vw;
}

.valuesContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 6rem;
  align-items: center;
}

.values h6 {
  padding: 0.5rem 0;
}

.valuesContainer img {
  display: block;
  width: 100%;
  border-radius: 2em;
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2);
}

.values h6 {
  background-color: var(--blue-medium);
  color: var(--grey);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  border-radius: 3em;
  font-weight: bold;
}

.seasons h3 {
  padding: 0.5rem 0;
  padding-left: 33.5vw;
}

.videoListContainer {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2em;
}

.video {
  width: 100%;
  border: 0;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: end;
  background-image: linear-gradient(to left, var(--blue-dark), white);
  width: 110%;
  margin-left: -4rem;
  padding: 0.5rem 4rem;
}

.skills img {
  display: block;
  width: 60%;
}

.skills h5 {
  text-align: right;
  color: var(--grey);
  word-wrap: break-word;
  margin-right: 9rem;
}

.skills a {
  color: var(--blue-light);
}
.skills a:hover {
  color: var(--yellow-main);
}


@media screen and (min-width: 320px ) and (max-width: 480px) {
  .content {
    padding: 10rem 2rem 0 2rem;
  }
  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
  .title h4 {
    padding-right: 0;
    line-height: 1.5rem;
  }
  .quote, .seasons {
    width: 135%;
  }
  .quote h3 {
    width: 80%;
    margin-left: -11vw;
  }
  .seasons h3 {
    width: 60%;
    margin-left: -8vw;
    text-align: center;
  }
  .valuesContainer {
    grid-template-columns: 1fr;
    gap: 1rem
  }
  .videoListContainer {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  .videoListContainer .video {
    grid-column: span 2;
    width: 100%;
    order: -1
  }
  .skills {
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
  }
  .skills h5{
    margin-right: 0;
    text-align: center;
    
  }
}

@media screen and (min-width: 481px ) and (max-width: 1024px) {
  .content {
    padding: 8rem 3rem 0 3rem;
  }
  .title  {
    align-items: center;
  }
  .title h4 {
    padding-right: 0;
    line-height: 1.5rem;
  }
  .quote, .seasons {
    width: 120%;
  }
  .quote h3 {
    width: 80%;
    margin-left: -17vw;
  }
  .seasons h3 {
    width: 60%;
    margin-left: -8vw;
    text-align: center;
  }
 
  .videoListContainer {
    grid-template-columns: 1fr 1fr;
    gap: 0;
    justify-items: center;
  }
  .videoListContainer .video {
    grid-column: span 2;
    width: 70%;
    order: -1
  }
  .skills {
    width: 100%;
  }
  .skills h5{
    margin-right: 0;
  }
  .skills img {
    width: 80%;
  }
}